body{
    background-image: linear-gradient(
        23deg,
        hsl(49deg 100% 69%) 0%,
        hsl(16deg 80% 61%) 2%,
        hsl(330deg 81% 34%) 12%,
        hsl(259deg 100% 15%) 50%,
        hsl(212deg 100% 25%) 88%,
        hsl(197deg 100% 30%) 98%,
        hsl(183deg 79% 36%) 100%
    );
    height: 100vh;
}
.button{
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}
.button:hover{
    filter: brightness(0.9);
}
.button:active{
    transform: translateY(2px);
}
.person-selector{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}
.person-selector-button{
    width: 100%;
    background-color: #15202b;
    color: #fff;
    font-size: 1.1em;
}
.active-person{
    background: #08529d;
    box-shadow: 0 0 0.5em 0 1em #c3c3c333;
}
.chat-container{
    background: #15202b;
    font-family: 'Roboto' sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}
.chat-header{
    margin-bottom: 1em;
    color: #fff;
}
.chat-header h2{
    font-size: 1.25em;
    font-weight: bold;
}
.chat-messages{
    height: 23em;
    overflow-y: scroll;
}





















